<div class="container"> <!-- Header -->
  <div class="page-header">
    <h2>Dashboard <small></small></h2>
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Number of users</h3>
        </div>
        <div class="panel-body">
          {{NbUsers}}
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Number of messages</h3>
        </div>
        <div class="panel-body">
          {{NbMessages}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Most active University</h3>
        </div>
        <div class="panel-body">
          {{mostActive}}
        </div>
      </div>
    </div>
  </div>
</div>
