<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <h1>Welcome to this short-life social network!</h1>
        <p>If you're a student or just curious, let's join our community. Here, you can join a chat room or create one.</p>
        <p>you can share your lessons, note, homework, but do it fast! Because the only thing you don't know it's when the room will end..</p>
        <p><a class="btn btn-primary btn-lg" href="#/register">Go!</a></p>
      </div>
    </div>
  </div>
</div>
