<div class="container"> <!-- Header -->
  <div class="page-header">
    <h1>My profile <small></small></h1>
  </div>
</div>

<div class="container" ng-hide="check"> <!-- Alert modifying form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please modify and do not forget to <strong>save</strong>.
      </div>
    </div>
  </div>
</div>

<div class="container" ng-show="check"> <!-- Alert modifying form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please <strong>modify your password</strong>.
      </div>
    </div>
  </div>
</div>

<div class="container"> <!-- form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" class="form-control" value={{user}} aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" value={{email}} aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input type="password" class="form-control" value ={{password}} aria-describedby="sizing-addon1">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input type="password" class="form-control" value={{passwordConfirm}} aria-describedby="sizing-addon1">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></div>
          </div>
        </div>
        <!--<div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></span>
            <input type="text" class="form-control" placeholder={{}} aria-describedby="sizing-addon1">
          </div>
        </div>-->
        <div class="row">
          <div class="col-sm-6">
            <a href="#/profile" class="btn btn-default btn-lg btn-block">Cancel</a>
          </div>
          <div class="col-sm-6">
            <a ng-click="change()" class="btn btn-info btn-lg btn-block"><strong>Save</strong></a>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <!-- Launch Modal -->
            <button data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-sm btn-block"><strong>Delete profile</strong></button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deleting user</h4>
      </div>
      <div class="modal-body">
        <p>Be careful, this action is irreversible!</p>
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" ng-model="inputEmailDelete" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" ng-model="inputPasswordDelete" placeholder="Password">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="delete()" class="btn btn-danger">Delete this account</button>
      </div>
    </div>
  </div>
</div>
