<div class="container"> <!-- Header -->
  <div class="page-header">
    <h2>Create your account <small>and enjoy fully this website</small></h2>
  </div>
</div>

<div class="container"> <!-- Alert fill form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please fill the form to access the website.
      </div>
    </div>
  </div>
</div>

<div class="container"> <!-- form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
            <input type="text" class="form-control" ng-model="inputUser" placeholder="My username" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" placeholder="Email" ng-model="inputEmail" aria-describedby="sizing-addon1">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input type="password" class="form-control" placeholder="Password" ng-model="inputPassword" aria-describedby="sizing-addon1">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></div>
          </div>
        </div>
        <!--<div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></span>
            <input type="password" class="form-control" placeholder="Confirm your password" aria-describedby="sizing-addon1">
            <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></span>
            <input type="text" class="form-control" placeholder="University" aria-describedby="sizing-addon1">
          </div>
        </div>-->
        <div class="row">
          <div class="col-sm-6">
            <a type="button" href="#/login" class="btn btn-default btn-lg btn-block">I already have an account</a>
          </div>
          <div class="col-sm-6">
            <a ng-click="register()" class="btn btn-info btn-lg btn-block"><strong>Create my account</strong></a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
