<div class="spinner" ng-show="spinner"> <!-- Loader -->
  <div class="double-bounce1"></div>
  <div class="double-bounce2"></div>
</div>

<div class="container"> <!-- Header -->
  <div class="page-header">
    <h2>Reset password <small>an email will be sent to your mailbox</small></h2>
  </div>
</div>

<div class="container"> <!-- Alert -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Please enter your email.
      </div>
    </div>
  </div>
</div>

<div class="container"> <!-- form -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form name="reset_form" ng-submit="reset_password()">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">@</span>
            <input type="text" class="form-control" placeholder="Email" name="email" ng-model="inputEmail" aria-describedby="sizing-addon1" required>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="submit" ng-disabled="reset_form.email.$invalid" class="btn btn-info btn-default btn-lg btn-block">Send the instructions</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
